

/* NO SCROLLBAR */
body {
    margin: 0;
    /*overflow: -moz-scrollbars-none; /* Mozilla */
    -ms-overflow-style: none; /* Edge, IE9 */
}

::-webkit-scrollbar { /* Chrome */
    width: 0;
    background: transparent;
}

html, body {
    height: 100%;
}

/*********************************/

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf") format('truetype');
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato.ttf") format('truetype');
}

@font-face {
    font-family: "Josefin Slab";
    src: url("../fonts/JosefinSlab.ttf") format('truetype');
}

@font-face {
    font-family: "Coming Soon";
    src: url("../fonts/ComingSoon.ttf") format('truetype');
}

/*********************************/

.header-color {
    color: #FFFFFF;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vertical-spacer {
    background-color: #59A3FC;
    height: 60px;
}

.tab-pane {
    min-height: 100vh;
    overflow: hidden;
}

/*********************************/

.empty-header {
    width: 100%;
    background: #59A3FC;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.josefin-slab { font-family: 'Josefin Slab', serif; }
.lato         { font-family: 'Lato', sans-serif; }
.roboto       { font-family: 'Roboto', sans-serif; }
.coming-soon  { font-family: 'Coming soon', cursive; }

/*********************************/

.title-section {
    height: 50vh;
    background: #59A3FC;
    color: #FFF;
}

.company-name {
    font-size: 90px;
    text-transform: uppercase;
    z-index: 2;
}

#paper-plane {
    position: absolute;
    left: 10%;
    top: 40%;

    -webkit-transition: 0.8s linear;
    -moz-transition: 0.8s linear;
    -o-transition: 0.8s linear;
    transition: 0.8s linear;
}

/*********************************/

.information-section {
    min-height: 50vh;
    background: #FFF;
    color: #000;
}

.information-section > div {
    margin-top: 50px;
}

.separator-line {
    padding-right:20px;
    border-right: 1px solid #ccc;
}

.img-center {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.information-text {
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.figure-caption {
    padding-top: 20px;
}

.information-button {
    min-width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*********************************/

.nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-link {
    background: #59A3FC;
    color: #FFF;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav-link:hover {
    background: #337ab7;
    color: #FFF;
}

/*********************************/

.sing-up-section {
    min-height: 50vh;
    background: #FFF;
    color: rgba(0, 0, 0, 0.7);
}

.sing-up-textfield {
    margin-top:   30px;
    margin-right: 40px;
    margin-left:  40px;
}

.mdl-radio {
    display: block;
}

.sing-up-radios {
    display: inline-block;
}

.sing-up-radio-wrapper {
    width: 300px;
    margin: 10px;
    text-align: left;
    margin-right: 40px;
    margin-left: 40px;
}

.sing-up-button {
    margin: 50px;
}

/*********************************/

@media (max-width: 550px)
{
    .company-name {
        font-size: 50px;
    }
}
