

/* NO SCROLLBAR */
body {
    margin: 0;
    /*overflow: -moz-scrollbars-none; /* Mozilla */
    -ms-overflow-style: none; /* Edge, IE9 */
}

::-webkit-scrollbar { /* Chrome */
    width: 0;
    background: transparent;
}

html, body {
    height: 100%;
}

/*********************************/

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf") format('truetype');
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato.ttf") format('truetype');
}

@font-face {
    font-family: "Josefin Slab";
    src: url("../fonts/JosefinSlab.ttf") format('truetype');
}

@font-face {
    font-family: "Coming Soon";
    src: url("../fonts/ComingSoon.ttf") format('truetype');
}

/*********************************/

.header-color {
    background: #59A3FC;
    color: #FFFFFF;
}

/*********************************/

.main-section {
    width: 100%;
    display: inline-block;
}

.hidden {
    display: none;
}

.josefin-slab { font-family: 'Josefin Slab', serif; }
.lato         { font-family: 'Lato', sans-serif; }
.roboto       { font-family: 'Roboto', sans-serif; }
.coming-soon  { font-family: 'Coming soon', cursive; }

/*********************************/

.title-section {
    height: 50%;
    background: #59A3FC;
    display: table;

    text-align:center;
    color: #FFF;
}

.company-name {
    font-size: 90px;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    z-index: 2;
}

#paper-plane {
    position: absolute;
    left: 10%;
    top: 40%;

    -webkit-transition: 0.8s linear;
    -moz-transition: 0.8s linear;
    -o-transition: 0.8s linear;
    transition: 0.8s linear;
}

/*********************************/

.information-section {
    min-height: 50%;
    background: #FFF;
}

.information-text-wrapper {
    height: 100%;
    width: 45%;
    float: left;
    text-align: center;
}

.information-inner-text-wrapper {
    display: inline-block;
    max-width: 400px;
    padding: 10px;
    padding-top: 60px;
}

.information-text {
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.line-container {
    height: 100%;
    width: 10%;
    float: left;
}

.line {
    margin-left: 50%;
    margin-top: 10vh;
    width: 0;
    height: 30vh;
    border-left:   3px solid #CCC;
    border-right:  3px solid #CCC;
    border-bottom: 0;
    border-top:    0;
}

.information-log {
    margin-top: 30px;
    height: 100%;
    width: 45%;
    float: left;
    text-align: center;
}

.information-button {
    display: inline-block;
    min-width: 100px;
    margin: 20px;
    margin-top: 60px;
}

.information-img-box {
    margin-top:   60px;
    margin-left:   8%;
    margin-right:  8%;
    margin-bottom: 0;
    max-width: 150px;
    width: 15%;
    display: inline-block;
}

.information-img-descript {
    line-height: 50px;
    text-transform: uppercase;
}

/*********************************/

.sing-up-section {
    min-height: 50%;
    background: #FFF;
    border-top: 10px solid #EEEEEE;
    text-align: center;
}

.sing-up-img {
    max-height: 450px;
    width: 100%;
}

.sing-up-textfield {
    margin-top:   30px;
    margin-right: 40px;
    margin-left:  40px;
}

.sing-up-textfield-label {
    color: rgba(0, 0, 0, 0.5);
}

.sing-up-radio-row {
    margin: 20px;
}

.sing-up-radio-wrapper {
    display: inline-block;
    width: 300px;
    margin: 10px;
    text-align: left;
    margin-right: 40px;
    margin-left: 40px;
}

.sing-up-button {
    margin: 20px;
}

/*********************************/

@media (max-width: 1000px) {
    .information-text-wrapper {
        width: 100%;
    }
    .line-container {
        margin-left: 10%;
        margin-bottom: 3%;
        margin-top: 2%;
        height: 10px;
        width: 80%;
        border-bottom: 3px solid #CCC;
    }
    .line {
        width: 0;
        height: 0;
        border: none;
    }
    .information-log {
        width: 100%;
    }
}

@media (max-width: 550px)
{
    .company-name {
        font-size: 50px;
    }
}

@media (max-width: 360px)
{
    .information-textfield {
        width: 200px;
    }
    .sing-up-textfield {
        width: 200px;
    }
}
